<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="css/app.css">
		<style>
			[v-cloak] {
			  display: none;
			}
		</style>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	</head>
	<body>
		<section class="todoapp" id="app" v-cloak>
			<header class="header">
				<h1>Todoリスト</h1>
				<input class="new-todo" placeholder="なにかやるべきことは？" v-model.trim="newTodo" autofocus @keyup.enter="addTodo">
			</header>
			<!-- footerはtodoが何もないときは非表示で、１つでもtodoが存在する場合は表示されます。 -->
			<section class="main" v-if="existsTodo">
				<input id="toggle-all" class="toggle-all" v-model="completedTodos" type="checkbox">
				<label for="toggle-all">すべて完了にする</label>
				<ul class="todo-list">
					<!-- これらは単にtodoアイテムの構造を示すサンプルです。 -->
					<!-- リストアイテム（li）要素は編集時は'editing'、完了としてチェックされたときは'completed'クラスが付きます。 -->
					<li :class="{completed: todo.completed, editing: editTargetTodo == todo}" v-for="todo in filteredTodos" :key="todo.index">
						<div class="view">
							<input class="toggle" type="checkbox"  v-model="todo.completed">
							<label @dblclick="editTodo(todo)">{{todo.title}}</label>
							<button class="destroy" @click="removeTodo(todo)"></button>
						</div>
						<input class="edit" v-model.trim="todo.title" v-todo-focus="todo == editTargetTodo" @keyup.enter="updateTodo(todo)" @blur="updateTodo(todo)" @keyup.esc="cancelEditTodo(todo)">
					</li>
				</ul>
			</section>
			<!-- footerはtodoが何もないときは非表示で、１つでもtodoが存在する場合は表示されます。 -->
			<footer class="footer" v-if="existsTodo">
				<!-- 通常は'残り0項目' -->
				<span class="todo-count">残り<strong>{{activeTodos.length}}</strong>項目</span>
				<!-- あなたがルーティングを実装しない場合は削除 -->
				<ul class="filters">
					<li>
						<a :class="{selected: filterCondition === 'all' || filterCondition === ''}" href="#/" @click="filterCondition = 'all'">すべて</a>
					</li>
					<li>
						<a :class="{selected: filterCondition === 'active'}" href="#/active" @click="filterCondition = 'active'">未完了</a>
					</li>
					<li>
						<a :class="{selected: filterCondition === 'completed'}" href="#/completed" @click="filterCondition = 'completed'">完了</a>
					</li>
				</ul>
				<!-- 完了したtodoが存在しない場合は非表示 ↓ -->
				<button class="clear-completed" v-if="completedTodos.length != 0" @click="removeAllCompletedTodo">完了したものを削除</button>
			</footer>
		</section>
		<footer class="info">
			<p>やることをダブルクリックすると編集できます。</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- JavaScriptはここに配置してください。削除しないでください。 -->
		<script src="js/app.js"></script>
	</body>
</html>
