<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="css/app.css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<style>
			[v-cloak] {
			  display: none;
			}
		</style>
	</head>
	<body>
		<section class="todoapp" id="app" v-cloak>
			<header class="header">
				<h1>{{ title }}</h1>
				<input
					class="new-todo"
					placeholder="なにかやるべきことは？"
					autofocus
					v-model="newTodo"
					v-on:keyup.enter="addTodo">
			</header>
			<!-- footerはtodoが何もないときは非表示で、１つでもtodoが存在する場合は表示されます。 -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">すべて完了にする</label>
				<ul class="todo-list">
					<li v-for="todo in todos"v-bind:class="{completed: todo.completed, editing: editTargetTodo === todo}">
						<div class="view">
							<input class="toggle" type="checkbox" v-model="todo.completed">
							<label v-on:dblclick="editTodo(todo)">{{ todo.title }}</label>
							<button class="destroy" v-on:click="deleteTodo(todo)"></button>
						</div>
						<input class="edit" v-model="editTargetTodoTitle" v-on:keyup.enter="updateTodo(todo)">
					</li>
				</ul>
			</section>
			<!-- footerはtodoが何もないときは非表示で、１つでもtodoが存在する場合は表示されます。 -->
			<footer class="footer">
				<!-- 通常は'残り0項目' -->
				<span class="todo-count">残り<strong>0</strong>項目</span>
				<!-- あなたがルーティングを実装しない場合は削除 -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/">すべて</a>
					</li>
					<li>
						<a href="#/active">未完了</a>
					</li>
					<li>
						<a href="#/completed">完了</a>
					</li>
				</ul>
				<!-- 完了したtodoが存在しない場合は非表示 ↓ -->
				<button class="clear-completed">完了したものを削除</button>
			</footer>
		</section>
		<footer class="info">
			<p>やることをダブルクリックすると編集できます。</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- JavaScriptはここに配置してください。削除しないでください。 -->
		<script src="js/app.js"></script>
	</body>
</html>
